<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Futbolistas</title>
</head>
<body>
	<div>
		<h1>Lista de Futbolistas</h1>
		<ul>
			<div th:each="entry : ${lista}">
				<li>
					<h4>
						<span th:text="${entry.nombre}">Nombre</span>
						<span th:text="${entry.apellido1}">Primer Apellido</span>
						<span th:text="${entry.apellido2}">Segundo Apellido</span>

					</h4>
						<a th:href="@{/detalle/{id}(id= ${entry.id})}">Ver detalle</a>
				</li>
			</div>
		</ul>
	</div>
</body>
</html>